.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header .search {
    width: 314px;
}

.info {
    text-align: center;
    color: #8f8f8f;
}

.body {
    display: flex;
    justify-content: space-between;
}

.list {
    width: 832px;
}

.right {
    width: 302px;
    margin-right: 10px;
}
.right>section ul {
    height: 220px;
    border: 1px solid #dadada;
}
.comment_post {
    margin: 0;
    padding: 0;
    list-style: none;
}
.comment_post li {
    font-size: 15px;
}