.header {
    width: 100%;
    margin-top: 10px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}
.header .search {
    width: 200px;
}
.header img {
    width: 20px;
}

.info {
    text-align: center;
    color: #8f8f8f;
}

.body {
    display: flex;
    justify-content: space-between;
}

.right {
    width: 200px;
}
.right>section ul {
    height: 220px;
    border: 1px solid #dadada;
}