.header {
    height: 50px;
    padding: 0 20px;
    background: #a0cfe5;
    display: flex;
    justify-content: space-between;
    line-height: 50px;
}
.header h2 {
    margin: 0;
}
.header img {
    width: 20px;
    margin-right: 10px;
}

.no_sign {}
.no_sign>span {
    color: white;
}

.body {
    margin-top: 10px;
    display: flex;
}

.menu {
    width: 258px;
    margin-right: 50px;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #5fc6c6;
    text-align: center;
}
.menu h1 {
    background: #dceef7;
    border: 1px solid #d0d0d0;
    font-size: larger;
    line-height: 35px;
}
.menu>div>div {
    height: 25px;
    border-bottom: 1px solid #d0d0d0;

}

.content {
    width: 100%;
    background: #ffffff;
    padding: 10px;
}

/*登录关闭按钮*/
.close {
    width: 25px;
    height: 25px;
    border: none;
    background: white;
    cursor: pointer;
}
.close span {
    height: 25px;
}
